<form autocomplete="off">

    <table>
        <tr>
            <th width=25%></th>
            <th width=30%></th>
            <th width=20%></th>
            <th width=10%></th>
        </tr>
        <tr>
            <th>
                <div col-md-6>
                    <!--  <label class="input-group-addon"> Selectionner un engagement </label> -->
                    <select class="form-control" name="engmt_id" #engmt_id (change)="selectchange($event)">
                        <option disabled hidden [selected]="true" [value]="-1">Choisir un engagement</option>
                        <option *ngFor="let engmnt of engmnts" value={{engmnt.id}}>
                            {{engmnt.nom}} {{engmnt.mont_unit}}
                        </option>
                    </select>
                </div>
            </th>

            <th>

                <div class="input-group" col-md-6>
                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    <!--  <input type="text" class="form-control" name="searchString" placeholder=" Filtre par nom" [(ngModel)]="searchString"> -->
                    <input type="text" class="form-control" name="listFilter" placeholder=" Filtrer par ...."
                        [(ngModel)]="listFilter">
                </div>
            </th>
            <th></th>
            <th>
                <div *ngIf="this.currentUser?.admin" align="left" class=" col-md-4">
                    <button type="button" class="btn btn-primary" (click)="add()">
                        Ajouter
                    </button>
                </div>
            </th>

        </tr>
    </table>
</form>

<div>
    <div>
        <h3> Les engagements </h3>
    </div>
    <table class="table table-striped table-bordered table-sm" cellspacing="0">
        <thead>
            <tr>
                <th width=20%> <u> Appelation </u></th>
                <th width=10%><u>Périodicité</u> </th>
                <th width=10%><u>Nom et prénom</u> </th>
                <th width=10%> <u> Montant payé </u> </th>
                <th width=10%> <u> Reste à payer </u> </th>
                <th width=10%><u>dt_ech</u> </th>
                <th width=10%><u>statut</u> </th>
                <th width=10%> <u>Dernier MAJ</u></th>
                <th width=10%> <u> </u></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredEngmtpers ">
                <td>{{item.nom_engmt }}&nbsp; &nbsp; {{ item.mont_unit | currency}} </td>
                <td>{{item.periode}} </td>
                <td>{{item.nom_prenom}} </td>
                <td>{{item.mont | currency }} </td>
                <td>{{item.mont_unit - item.mont | currency }} </td>
                <td>{{item.dt_ech | date: 'dd/MM/yyyy'}} </td>
                <td>{{item.statut}} </td>
                <td>{{item.dtchgst | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <div *ngIf="this.currentUser?.admin" align="left">
                        <a [routerLink]="" (click)="Edit(item.id)"><span class="glyphicon glyphicon-edit"></span></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- pager -->
<!--     <div align="right">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a [routerLink]="" (click)="setPage(1)">premier</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a [routerLink]="" (click)="setPage(pager.currentPage - 1)">Précédent</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a [routerLink]="" (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a [routerLink]="" (click)="setPage(pager.currentPage + 1)">Suivant</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a [routerLink]="" (click)="setPage(pager.totalPages)"> Dernier </a>
            </li>
        </ul>
    </div> -->
    <!-- End  pager -->

</div>