
<div class="row" *ngFor="let evnmtdtl of evnmtdtls">
  <div class="col-md-10">
    <collapsible-well [title]= "evnmtdtl.entete">  
      <!-- <p>  -->
          <div class="row">
              <div class="col-md-4">
                  <span>  Responsable: {{evnmtdtl.resp}} </span> &nbsp; &nbsp; &nbsp; &nbsp;
                   <span>  Durée: {{evnmtdtl.duree}} </span> 
              </div>
            </div>
          <!-- </p> -->
            <span> <u> Resumé: </u> </span>
              <p> {{evnmtdtl.resume}}</p>
              <span> <u> Détail: </u> </span> 
            <p> {{evnmtdtl.contenu}}</p>
    </collapsible-well>
  </div>
</div>
