<div class="row">
    <div class="panel-heading">
        {{ title }}
      </div>
  <hr>
  <div class="col-md-6">
    <form #newEvnmtForm="ngForm" (ngSubmit)="saveEvnmt(newEvnmtForm.value)" autocomplete="off" novalidate>
      <input type="hidden" id="groupe_id" name="groupe_id" hide [(ngModel)]="currentUser.groupe_id" />
      <table>
        <tr>
          <th width=45%></th>
          <th width=10%></th>
          <th width=45%></th>
        </tr>
        <tr>
          <th colspan="3">
            <div class="form-group" [ngClass]="{'error': newEvnmtForm.controls.nom?.invalid && newEvnmtForm.controls.nom?.touched}">
              <label for="nom">Titre</label>
              <em *ngIf="newEvnmtForm.controls.nom?.invalid && (newEvnmtForm.controls.nom?.touched)">Required</em>
              <input (ngModel)="evnmt.nom" name="nom" required id="nom" type="text" class="form-control" placeholder="Titre de la réunion..." />
            </div>
          </th>
          <th> </th>
          <th> </th>
        </tr>
        <tr>
          <th>
            <div class="form-group" [ngClass]="{'error': newEvnmtForm.controls.date?.invalid && newEvnmtForm.controls.date?.touched}">
              <label for="evnmtDate"> Date (YYYY-MM-DD) </label>
              <em *ngIf="newEvnmtForm.controls.date?.invalid && (newEvnmtForm.controls.date?.touched)">Required</em>
              <input (ngModel)="evnmt.date" name="date" required id="evnmtDate" type="text" class="form-control" placeholder="Date  ..." />
            </div>
          </th>
          <th> </th>
          <th>
            <div class="form-group" [ngClass]="{'error': newEvnmtForm.controls.hrdeb?.invalid && newEvnmtForm.controls.hrdeb?.touched}">
              <label for="evnmtTime"> Heure (exemple: 17 H 30 )</label>
              <em *ngIf="newEvnmtForm.controls.hrdeb?.invalid && (newEvnmtForm.controls.hrdeb?.touched)">Required</em>
              <input (ngModel)="evnmt.hrdeb" name="hrdeb" required id="evnmtTime" type="text" class="form-control"
                placeholder="Heure de début..." />
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <div class="form-group" [ngClass]="{'error': newEvnmtForm.controls.famaccueil?.invalid && newEvnmtForm.controls.famaccueil?.touched}">
              <label for="evnmtFamaccueil"> Famille d'accueil </label>
              <em *ngIf="newEvnmtForm?.controls?.famaccueil?.invalid && (newEvnmtForm?.controls?.famaccueil?.touched)">Required</em>
              <input (ngModel)="evnmt.famaccueil" name="famaccueil" required id="evnmtFamaccueil" type="text" class="form-control"
                placeholder="Famille d'accueil..." />
            </div>
          </th>
          <th> </th>
          <th>
              <div class="form-group" [ngClass]="{'error': newEvnmtForm.controls.statut?.invalid && newEvnmtForm.controls.statut?.touched}">
                  <label for="evnmtStatut"> Statut </label>
                  <em *ngIf="newEvnmtForm?.controls?.statut?.invalid && (newEvnmtForm?.controls?.statut?.touched)">Required</em>
                  <!-- <input (ngModel)="statut" name="statut" required id="evnmtStatut" type="text" class="form-control"
                    placeholder="Statut..." /> -->
                    <select (ngModel)="evnmt.statut" name="statut" class="form-control" placeholder="Statut... " >
                        <option selected>À venir</option>
                        <option>Annulée </option>
                        <option>Complétée </option>
                        <option>Reporté </option>
                      </select>

                </div>
          </th>
        </tr>
        <tr>
          <th colspan="3">
            <div class="form-group" [ngClass]="{'error': newEvnmtForm.controls.descr?.invalid && newEvnmtForm.controls.descr?.touched}">
              <label for="evnmtDescr"> Description</label>
              <em *ngIf="newEvnmtForm.controls.descr?.invalid && (newEvnmtForm.controls.descr?.touched)">Required</em>
              <textarea (ngModel)="evnmt.descr" name="descr" required class="form-control rounded-0" id="evnmtDescr"
                placeholder="Decription..." rows="1"></textarea>
            </div>
          </th>
          <th>
          </th>
          <th> </th>
        </tr>
   
      </table>
      <fieldset>
        <legend>Adresse </legend>
        <table>
          <th width=30%></th>
          <th width=5%></th>
          <th width=30%></th>
          <th width=5%></th>
          <th width=30%></th>
          <tr>
            <th>
              <label for=address> Numéro, rue, code postal </label>
              <input (ngModel)="evnmt.address" name="address" id="address" type="text" class="form-control" placeholder="addresse..." />
            </th>
            <th></th>
            <th>
              <label for=city> Ville </label>
              <input (ngModel)="evnmt.city" name="city" id="city" type="text" class="form-control" placeholder="Ville..." />
            </th>
            <th></th>
            <th>
              <label for=country> Pays </label>
              <input (ngModel)="evnmt.country" name="country" id="country" type="text" class="form-control" placeholder="Pays..." />
            </th>
          </tr>
        </table>
        <br>
      </fieldset>
      <button type="submit" [disabled]="newEvnmtForm.invalid" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
  </div>

  <div class="col-md-6">
      <div class="form-group" [ngClass]="{'error': newEvnmtForm.controls.contenu?.invalid && newEvnmtForm.controls.contenu?.touched}">
          <label for="evnmtContenu"> Ordre du jour</label>
          <em *ngIf="newEvnmtForm.controls.contenu?.invalid && (newEvnmtForm.controls.contenu?.touched)">Required</em>
          <textarea (ngModel)="evnmt.contenu" name="contenu" required class="form-control rounded-0" placeholder="Contenu..."
            id="evnmtContenu" rows="12"></textarea>
        </div>

  </div>
</div>





