<div>

  <div class="sidenav">
    <a id="1" [routerLink]="" (click)="onMenuClic(1)"> Aphabet </a>
    <a id="2" [routerLink]="" (click)="onMenuClic(2)"> Les tons </a>

    <a id="5" [routerLink]="" (click)="onMenuClic(5)"> Prières </a>
    <a id="6" [routerLink]="" (click)="onMenuClic(6)"> Hymnes</a>
    <a id="3" [routerLink]="" (click)="onMenuClic(3)"> Conjugaison</a>
    <a id="4" [routerLink]="" (click)="onMenuClic(4)"> Compter</a>
  </div>

  <div class="main">

    <article *ngIf="menu=='1'">
      <div>
        <h1>
          <B>
            <U>
              L'alphabet Ghomala'
            </U>
          </B>
        </h1>
<br/>
      </div>

      <h4>
        <p>
          a, á, b, c, d, e, Ə, Ɛ, f, g, gh, h, i, j, k, l, m, n, Ƞ, o, ᴐ, p, S, sh, t, u, ʉ, v, w, wi, y, z, zh, ',
        </p>
        <br />
        <p>
          Les sons suivants en Ghᴐm á la ' sont transcrits et prononcés différemment du français :
        </p>

        <ul>
          <li>
            <p>
              C : tch (tchèque)
            </p>
          </li>
          <li>
            <p>
              j: dj (John)
            </p>
          </li>
          <li>
            <p>
              Ƞ: ng (à la fin d’un mot)
            </p>
          </li>
          <li>
            <p>
              [e] : é (thé, démodé, manger, et)
            </p>
          </li>
          <li>
            <p>
              [ε] dans : c’était, vêtement, mais
            </p>
          </li>
          <li>
            <p>
              [ə] dans : je pense que, devoir
            </p>
          </li>
          <li>
            <p>
              sh: ch (chant)
            </p>
          </li>
          <li>
            <p>
              ᴐ : (comme le « o » de porte)
            </p>
          </li>
          <li>
            <p>
              u: ou (pou)
            </p>
          </li>
          <li>
            <p>
              zh: j (jean)
            </p>
          </li>
          <li>
            <p>
              (') n’a pas d’équivalent français
            </p>
          </li>
          <li>
            <p>
              Le reste de l’alphabet se prononce comme en français.
            </p>
          </li>
        </ul>

      </h4>

    </article>

    <article *ngIf="menu=='2'">
      <div>
        <h1>
          <B>
            <U>
              Le ton des mots
            </U>
          </B>
        </h1>
      </div>

      <h4>
        <ul>
          <li>
            <p>
              « - » ton moyen Exp : shyƏ (eau), pyƏ (nous)
            </p>
          </li>
          <li>
            <p>
              « ʹ, Á » ton haut, Exp : Père = tá, Mère = má
            </p>
          </li>
          <li>
            <p>
              «` , Ỳ ,` , à, ì, » ton bas, Exp : tà (marmite), mà (habitude)
            </p>
          </li>
          <li>
            <p>
              « ŭ » ton bas haut Exp : pŭ = la main
            </p>
          </li>
          <li>
            <p>
              « ^ » ton haut bas EXP : pû = nous deux
            </p>
          </li>
        </ul>
      </h4>

    </article>

    <article *ngIf="menu=='4'" id="Compter" name="Compter" (click)="onMenuClic(4)" class="article">
      <div class="a">
        <p>
          Tu' = une perle 
          </p>
          <p>

          M-tu' = des perles 
        </p>
        <p>
          Shwop Vu'u Mham = 19 
        </p>
        <p>
          Mtu' shwop vu'u m-hâm = 19 perles . 
        </p>
        <p>
          Pour
          compter en Ghomala,
          il faut d'abord désigner la chose, puis placer le chiffre après. Ex: Po yaeta = 3 enfants
        </p>
      </div>
    </article>

    <article *ngIf="menu=='5'" id="prier" name="prier" (click)="onMenuClic(5)" class="article">

      <h2>
        NOTRE PÈRE
      </h2>

      <div class="row">
        <div class="column">
          <h3> <u> Version 1 </u> </h3>
          <h4>
            <p>
              Tâ yɔ̄k yə̀ ǒ kɛ̄bə̀ŋ,
            </p>
            <p>
              Á tsô tsǔ pə̄ dɔ̂lɔ̌
            </p>
            <p>
              Á nə̀fò tsǔ sɔ́’ɔ̄,
            </p>
            <p>
              Á nə́kùŋ ō pə̄ də̀m cā’ā də̀ŋdə̀ŋ pá’ kɛ̄bə̀ŋ á ā
            </p>
            <p>
              Hā bí pyə̀ tyə́’ ɔ̄,
            </p>
            <p>
              Ywə́tsʉ̂ yɔ̄k nə́ yə̀ŋ tyɛ̄’ɛ̄,
            </p>
            <p>
              Wā’ mhɔ̀ mɔ̄k pá’ pyə̄ gə̀ yɔ̄k nə̂ mfə̂ pɔ̄k áā
            </p>
            <p>
              Kə̂ pīŋ pyə̀ kō nə̂ mlə̀ŋtə̀,
            </p>
            <p>
              Tē wɔ̄k nə̂ jyə̀ cwə̀pùŋ
            </p>
            <p>
              Nə́kə́lə̄, nə̀fò, tʉ̄ɔ̀, bá ghāmtə̄ bə̄ bû
            </p>
            <p>
              Nə́ gùŋ mcwə̀ àwɛ̄
            </p>
            <p>
              Āmɛ̀n
            </p>

          </h4>

        </div>

        <div class="column">
          <h3> <u> Version 2 </u> </h3>

          <h4>
            <p>
              Tâ yɔ̄k yə̀ ǒ kɛ̄bə̀ŋ á ā,
            </p>
            <p>
              (Á) Tsô tsǔ pə̄ dɔ̂lɔ̌
            </p>
            <p>
              (Á) Nə̀fò tsǔ sɔ́’ɔ̄, də̀ŋdə̀ŋ sīcā’ā pá’ kɛ̄bə̀ŋ á ā
            </p>
            <p>
              Hā bí pyə̀ tyə́’ ɔ̄,
            </p>
            <p>
              Wútsʉ̂ (ywə́tsʉ̂) yɔ̄k nə́ yə̀ŋ tyɛ̄’ɛ̄,
            </p>
            <p>
              Tyɔ̀nyə̀ mnwə̀ cwə̀pùŋ mɔ̄k
            </p>
            <p>
              Pá’ pyə́ dyɔ̀nyə̀ mnwə̀ cwə̀pùŋ pyə̀shwə́ pò á ā
            </p>
            <p>
              Kə̂ tāk wɔ̄k cʉ̂m mlə̀ŋtə̀,
            </p>
            <p>
              Pà’ wɔ̄k nə̂ jyə̀ cwə̀pùŋ
            </p>
            <p>
              Ā pó’ō
            </p>
          </h4>
        </div>
      </div>
    </article>

    <article *ngIf="menu=='6'" id="Chanter" name="Chanter" (click)="onMenuClic(6)">
      <div class="row">
        <div class="column">
          <h3>
            <u> Hymne du Cameroun en GHOMÁLÁ  </u>
          </h3>
          <br/>
          <h4>
            <p>
              Ô Kamərun, thəsi pə məgəju′ pók,

            </p>
            <p>
              Lu tsǔ si biŋ shəŋtə bómtə yù ləpuə.

            </p>
            <p>
              Pâ′ tsənam á, yu dzəguŋ go pə nəŋnyə,
            </p>
            <p>
              Pə syamtiŋ nə yok nəpîŋ ba ntamtə yok.

            </p>
            <p>
              Gaə guŋ pô pǔ Jyəŋka′ gó ntám sîsi,

            </p>
            <p>
              Ntəmnam ba m Binam pə ntúm ŋkùŋnyə,
            </p>
            <p>
              Nə fa′ bû pə da′ yáp ywə yə wâp do á,

            </p>
            <p>
              Jyə á wáp tôm map mfa′ nə guŋ mcwə awέ.

            </p>
            <p>
              « Tuodəŋ guŋ yók ! tuodəŋ câ′ tsók !
            </p>
            <p>
              Ô bə da′ yok fo′ nəpuŋ nyənyó,

            </p>
            <p>
              Da′ yok ŋwənyə, da′ yok nətuə.

            </p>
            <p>
              Nkuŋnyə pə bû, ba ghámtə gwyə bû. »
            </p>
          </h4>
        </div>

        <div class="column">

          <h3>
           <u>  Hymne de gloire du peuple Bamiléké  </u>
          </h3>
        <br/>
          <h4>
              <p>
                Pə ghɔ́ tə ntám nə̂ dhəguŋ yɔ́k
              </p>
           
            <p>
              Cú'tə po á lá' pyə, pyə̂ dɔ pə̂ guŋ yɔ́k:
            </p>
          
            <p>
              Guŋ yɔ̂k bə́ guŋ Sí
            </p>
           
            <p>
              Mo tsʉ̂ sham guŋ, bəê gɔ pfʉ́:
            </p>
          
            <p>
              Mo yəe lə tʉ́ guŋ yɔ́k pəá
            </p>
           
            <p>
              Lə̂ də pə́ nyə́nyɔ́ ntʉ́
            </p>
           
            <p>
              Pyə̂ gɔ lá' pə́ pfʉ́, pfʉ́ pə̂ nwə nyə́nyɔ́
            </p>
           
            <p>
              [
            </p>
            
            <p>
              Pyə̂ bə́ ntʉ́m guŋ, bwɔ́k pə̂ da' ta' ywə́
            </p>
            
            <p>
              Nə́ kəŋnyə bíŋbíŋ
            </p>
           
            <p>
              Nə́ nə bí guŋ yɔ́k pə̀
            </p>
            
            <p>
              ]  (Bis)
            </p>
          </h4>
        </div>
      </div>
    </article>

    <article *ngIf="menu=='7'" id="texte" name="texte" (click)="onMenuClic(7)">
      <section>
        <h1>Introduction</h1>
        <p>People have been catching fish for food since before recorded history...</p>
      </section>

      <section>
        <h1>Equipment</h1>
        <p>The first thing you'll need is a fishing rod or pole that you find comfortable and is strong enough for the
          kind of fish you're expecting to try to land...</p>
      </section>

    </article>

  </div>

</div>