
<form>

    <table>
        <tr>
                <th width=25%></th>
                <th width=30%></th>
                <th width=20%></th>
                <th width=10%></th>
        </tr>
        <tr>
            <th>

                <div col-md-6>
                    <!--     <label class="input-group-addon"> Selectionner une tontine </label> -->
                    <select class="form-control" name="tont_id" #tont_id (change)="selectchange($event)">
                        <option disabled hidden [selected]="true" [value]="-1">Choisir une tontine</option>
                        <option *ngFor="let tont of tontines" value={{tont.id}}>
                            {{tont.nom}}
                        </option>
                    </select>
                </div>
            </th>

            <th>
                <div class="input-group" col-md-6>
                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    <!--  <input type="text" class="form-control" name="searchString" placeholder=" Filtre par nom" [(ngModel)]="searchString"> -->
                    <input type="text" class="form-control" name="searchString" placeholder=" Filtrer par nom et prénom"
                        [(ngModel)]="searchString">
                </div>
            </th>
            <th></th>
            <th>
                <div *ngIf="this.currentUser?.admin" align="left" class=" col-md-2">
                    <button type="button" class="btn btn-primary" (click)="add()">
                        Ajouter
                    </button>
                </div>
            </th>

        </tr>
    </table>
</form>

<div *ngIf="!!pagedItems?.length>0">
        <div>
                <h3> Liste des tontineurs </h3>
            </div>

    <table class="table table-striped table-bordered table-sm" cellspacing="0">
        <thead>
            <tr>
                <th width=20%><u>Nom et prénom</u> </th>
                <th width=20%><u> Alias </u> </th>
                <th width=10%> <u> Position </u></th>
                <th width=10%> <u> moisgain </u></th>
                <th width=10%> <u> Montant part </u> </th>
                <th width=20%> <u>Dernier cotisation</u></th>
                <th width=10%> <u>  </u></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pagedItems | filter : 'nom_prenom' : searchString; let i = index ">
                <!-- {{item.nom }}&nbsp; &nbsp; -->
                <td>{{item.nom_prenom}} </td>
                <td>{{item.alias}} </td>
                <td>{{item.position}} </td>
                <td>{{item.moisgain}} </td>
                <td>{{item.mtpart | currency }} </td>
                <td>{{item.cot_dern}} </td>
                <td>
                    <div *ngIf="this.currentUser?.admin" align="left">
                        <a [routerLink]="" (click)="Edit(item.id)"><span class="glyphicon glyphicon-edit"></span></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- pager -->
    <div align="right">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a [routerLink]="" (click)="setPage(1)">premier</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a [routerLink]="" (click)="setPage(pager.currentPage - 1)">Précédent</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a [routerLink]="" (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a [routerLink]="" (click)="setPage(pager.currentPage + 1)">Suivant</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a [routerLink]="" (click)="setPage(pager.totalPages)"> Dernier </a>
            </li>
        </ul>
    </div>
    <!-- End  pager -->
</div>