<div>
    <h1 class="panel-title"> Tontines par membre </h1>
</div>

<form>
        <div class=" col-md-6 ">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                <input type="text" class="form-control" name="searchString" placeholder=" Chercher par..." [(ngModel)]="searchString">
            </div>
        </div>
    </form>

<div>
        <br />
    <table class="table table-striped table-bordered table-sm" cellspacing="0" >
        <thead>
            <tr>
                <th width=20%> <u> Appelation </u></th>
                <th width=10%> <u> Montant part </u> </th>
                <th width=10%> <u> Début </u> </th>
                <th width=10%><u>Fin</u> </th>
                <th width=10%> <u>Dernier cotisation</u></th>
                <th width=15%><u>Nom et prénom</u> </th>
            
                <th width=10%> <u> Position </u></th>
                <th width=10%> <u> moisgain </u></th>
            </tr>
        </thead>

        <tbody>
         <tr *ngFor="let item of pagedItems | filter : 'nom' : searchString; let i = index ">
            <!-- {{item.nom }}&nbsp; &nbsp; -->    
            <td>    {{ item.descr }} </td>
                <td>{{item.mtpart | currency }} </td>  
              
                <td>{{item.dtdeb | date: 'dd/MM/yyyy'}} </td>
                                                                       
                <td>{{item.dtfin | date: 'dd/MM/yyyy'}} </td>
                <td>{{item.cot_dern}} </td>
                <td>{{item.nom_prenom}} </td>
                <td>{{item.position}} </td>
                <td>{{item.moisgain}} </td>
               
                <td>
                        <div *ngIf="this.currentUser?.admin"  align = "left">
                          <a  [routerLink]="" (click)="Edit(item.id)"  ><span class="glyphicon glyphicon-edit"></span></a>
                        </div>
                 </td>
             <!--    <td>
                    <div *ngIf="this.currentUser?.admin" align="left">
                        <a [routerLink]="" (click)="editEvnmt(item.id)"><span class="glyphicon glyphicon-edit"></span></a>
                    </div>
                </td> -->
            </tr>
        </tbody>
    </table>

    <!-- pager -->
    <div align="right">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">premier</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Précédent</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Suivant</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Dernier</a>
            </li>
        </ul>
    </div>

</div>

<!-- 
      <tr *ngFor="let item of pagedItems | filter : 'nom' : searchString; let i = index "> 

| dateRange: 'date' : startDate : endDate
 -->