<!--<div class="panel panel-primary">-->
  <div class="row">
    <div class="panel-heading">
      {{ title }}
    </div>
    <hr>
    
    <div class=" col-md-6 ">

      <form [formGroup]="angForm" (ngSubmit)="addPersonne(angForm.value)" autocomplete="off">

          <table >
            <tr> 
                
              <th width=45%></th>
              <th width=10%></th>
              <th width=45%></th>
              
            </tr>
              <tr>
                <th>   
                  <div class="form-group">
                    <label class="col-md-4">Nom</label>
                    <input type="text" class="form-control" placeholder="Nom..." formControlName="nom" #nom />
                  </div>
                  <div *ngIf="angForm.controls['nom'].invalid && (angForm.controls['nom'].dirty || angForm.controls['nom'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['nom'].errors.required">
                      Le nom est obligatoire.
                    </div>
                  </div>
               </th>
               <th></th>
                <th> 
                    <div class="form-group">
                        <label class="col-md-4">Prénom</label>
                        <input type="text" class="form-control" placeholder="Prénom..." formControlName="prenom" #prenom />
                      </div>
                      <div *ngIf="angForm.controls['prenom'].invalid && (angForm.controls['prenom'].dirty || angForm.controls['prenom'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['prenom'].errors.required">
                          Le prénom est obligatoire.
                        </div>
                      </div>  
                </th>
              </tr>

              <tr>
                  <th>
                      <div class="form-group">
                          <label class="center-block">
                            Sexe
                            <select class="form-control" placeholder="Sexe... " formControlName="sexe" #sexe>
                              <option value="M">Masculin</option>
                              <option value="F">Féminin</option>
                              <option hidden selected> Sélectionner une valeur</option>
                            </select>
                          </label>
                        </div>
                
                        <div *ngIf="angForm.controls['sexe'].invalid && (angForm.controls['sexe'].dirty || angForm.controls['sexe'].touched)" class="alert alert-danger">
                          <div *ngIf="angForm.controls['sexe'].errors.required">
                            Le sexe est obligatoire.
                          </div>
                        </div>
                  </th>
                  <th></th>
                  <th>
                      <div class="form-group">
                          <label class="center-block">
                            Sélectionner le statut de la personne
                            <select class="form-control" placeholder="Statut " formControlName="type" #type>
                              <option *ngFor="let type of typePers" [value]="type.libelle"> {{type.libelle}}</option>
                            </select>
                          </label>
                        </div>
                        <div *ngIf="angForm.controls['type'].invalid && (angForm.controls['type'].dirty || angForm.controls['type'].touched)" class="alert alert-danger">
                          <div *ngIf="angForm.controls['type'].errors.required">
                            Le type de personne est obligatoire.
                          </div>
                        </div>
                  </th>
                </tr>

                <tr>
                    <th>
                        <fieldset>
                            <legend>Adresse </legend>
                            <ol style="list-style: none;">
                              <li>
                                <label for=address> Numéro, rue, code postal </label>
                                <input type="text" class="form-control" formControlName="address" #address placeholder="Addresse..." />
                              </li>
                              <li>
                                <label for=country> Pays </label>
                                <input type="text" class="form-control" formControlName="country" #country placeholder="Pays..." />
                              </li>
                            </ol>
                          </fieldset>
                          <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)" class="alert alert-danger">
                              <div *ngIf="angForm.controls['address'].errors.required">
                                L'adresse est obligatoire.
                              </div>
                            </div>
                    </th>
                    <th></th>
                    <th>
                        <fieldset>
                            <legend> . </legend>
                            <ol style="list-style: none;">
                         
                              <li>
                                <label for=city> Ville </label>
                                <input type="text" class="form-control" formControlName="city" #city placeholder="Ville..." />
                              </li>
                              <li>
                                  <div class="form-group">
                                      <label class="col-md-4"> Courriel </label>
                                      <input type="text" class="form-control"  placeholder="Courriel..." formControlName="email" #email />
                                    </div>
                                    <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
                                      <div *ngIf="angForm.controls['email'].errors.required">
                                        Le courriel est obligatoire.
                                      </div>
                                    </div>  
                              </li>
                            </ol>
                          </fieldset>

                     
                    </th>
                  </tr>

                <tr>
                    <th>
                        <div class="form-group">
                            <label for=telres> Téléphone résidentiel </label>
            
                            <input type="text" class="form-control" placeholder="Téléphone résidentiel..." formControlName="telres" #telres />
                          </div>
                    </th>
                    <th></th>
                    <th>
                        <div class="form-group">
                            <label for=telcel>
                              Téléphone mobile
                            </label>
                            <input type="text" class="form-control" placeholder="Téléphone mobile " formControlName="telcel" #telcel />
                          </div>
                    </th>
                  </tr>

                  <tr>
                      <th>
                          <div class="form-group">
                              <label class="col-md-4"> Emploi     </label>
                              <input type="text" class="form-control" placeholder="Emploi " formControlName="emploi" #emploi />
                            </div>
                      </th>
                      <th></th>
                      <th>
                          <div class="form-group">
                              <label for=dom_activ> Domaine d'activité     </label>
                              <input type="text" class="form-control"  placeholder="Domaine d'activité " formControlName="dom_activ" #dom_activ />
                            </div>
                      </th>
                    </tr>
              </table>

        <div class="form-group">
          <button [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Ajouter</button>
          <button type="button" (click)="cancel()" class="btn btn-default">Annuler</button>
        </div>
      </form>
    </div>
  </div>

