<!--<div class="panel panel-primary">-->
<div class="row">
  <div class="panel-heading"> {{ title }} </div>
<hr>
  <div class="col-md-4" *ngIf="user">
          
<form [formGroup]="angForm" (ngSubmit)="changePwd(angForm.value)" autocomplete="off">

      <div class="form-group">
        <label class="col-md-4">Courriel</label>
        <input type="text" class="form-control" formControlName="email" #email [(ngModel)]="user.email" readonly />
      </div>
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Le email courriel obligatoire.
        </div>
      </div>

      <div class="form-group">
          <input hidden type="password" class="form-control" formControlName="password" #password_old  [(ngModel)]="user.password"/>
      </div>
   
      <div class="form-group">
        <label class="col-md-8"> Mot de passe actuel </label>
        <input type="password" class="form-control" formControlName="password_old" #password_old />
      </div>
      <div *ngIf="angForm.controls['password_old'].invalid && (angForm.controls['password_old'].dirty || angForm.controls['password_old'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['password_old'].errors.required">
          Le mot de passe est obligatoire.
        </div>
        <p *ngIf=" angForm.controls['password_old']?.errors?.notEquivalent"  >
           Mot de passe actuel incorrect...
         </p>
      </div>
      
      <div class="form-group">
        <label class="col-md-8"> Nouveau mot de passe</label>
        <input type="password" class="form-control" formControlName="password_new" #password_new />
      </div>
      <div *ngIf="angForm.controls['password_new'].invalid && (angForm.controls['password_new'].dirty || angForm.controls['password_new'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['password_new'].errors.required">
          Le mot de passe est obligatoire.
        </div>
        <p *ngIf=" angForm.controls['password_new']?.errors?.identOldNew" >
           Oups! Vous ne pouvez reprendre le même mot de passe! 
        </p>
      </div>

    <div class="form-group">
      <label class="col-md-12"> Saisissez votre nouveau mot de passe une seconde fois  </label>
      <input type="password" class="form-control" formControlName="confirmPassword" #confirmPassword />
    </div>
    <p *ngIf=" angForm.controls['confirmPassword']?.errors?.notEquivalent"  > Oups! Ces mots de passe ne correspondent pas! </p>
    <p *ngIf="angForm.controls['confirmPassword']?.errors?.required"> La confirmation du mot de passe est obligatoire</p>

    <div class="form-group">
        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <button type="submit" [disabled]="angForm.invalid" class="btn btn-primary"> Valider </button>
          </span>
      <button type="button" (click)="cancel()" class="btn btn-default">Annuler</button>
    </div>
  </form>

  <br />
  <div *ngIf="loginInvalid" class="alert alert-danger">
    Infos utilisateurs invalides
  </div>

</div>
</div>