<div  class="row ">



<div class="col-md-6" height="600" >
    <h1>Espace membre</h1>

  <div  >
    <h3>
      Bienvenue sur le site de Todjom Québec.

    </h3>
    <br/>
    <h4>
      Pour garder un œil sur les activités du groupe
    </h4>
    <br/>
    <h4>
      Pour s’informer des derniers mises à jour dans son dossier de membre
    </h4>
    <br/>
    <br/>
    <p> 
    <a class="btn btn-primary btn-lg"  [routerLink]="" (click)="onClic()"> Accéder à votre espace Membre </a>
  </p>
  </div>

</div>

  <div class="col-md-6 "  align = "right">
     <img src='./assets/images/cheferie2.jpeg' width="450"  />
   
     <img src='./assets/images/cheferie.jpeg' width="450"  />    
  </div>
 
<br/>

</div>